.App-header {
  background-color: black;
  min-height: 15vh;
  flex-direction: column;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.shirt-grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .shirt-images {
    margin-top: 3%;
    width: 53%;
    float: left;
  }
  
  .shirt-info {
    margin-top: 2.05%;
    width: 28.9%;
    float: right;
    margin-right: 4%;
  }

  @media (max-width: 746px) {
    .shirt-grid {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .shirt-images{
      width: 80%;
      float: left;
    }

    .shirt-info {
      clear: both;
      margin-top: 3%;
      width: 100%;
      float: left;
    }
  }
}

.white{
  color:white;
}

.other-shirts {
  clear: both;
}

footer {
  clear: both;
  text-align: center;
}


