.App-header {
  background-color: black;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.shirt-grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .shirt-images {
    margin-top: 3%;
    width: 53%;
    float: left;
  }
  
  .shirt-info {
    width: 33%;
    float: right;
  }
}


